.edit-profile-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.edit-profile-page .overlap-wrapper {
    background-color: #ffffff;
    height: 1182px;
    width: 1416px;
}

.edit-profile-page .overlap {
    height: 628px;
    left: 215px;
    position: relative;
    top: 220px;
    width: 884px;
}

.edit-profile-page .overlap-group {
    height: 551px;
    left: 0;
    position: absolute;
    top: 77px;
    width: 875px;
}

.edit-profile-page .edit-profile-section {
    background: linear-gradient(
        180deg,
        rgb(70, 5, 45) 0%,
        rgb(70, 5, 45) 0.01%,
        rgb(80, 7, 50) 15.52%,
        rgb(94, 9, 51) 32.71%,
        rgb(97, 8, 52) 47.81%,
        rgb(106, 11, 55) 63.44%,
        rgb(153, 23, 71) 76.98%,
        rgb(179, 35, 70) 94.17%
    );
    height: 101px;
    left: -225px;
    position: absolute;
    top: 225px;
    transform: rotate(-90deg);
    width: 551px;
}

.edit-profile-page .donor-icon {
    height: 47px;
    left: 81px;
    position: absolute;
    top: 28px;
    transform: rotate(90deg);
    width: 78px;
}

.edit-profile-page .donar-search {
    height: 25px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 23px;
}

.edit-profile-page .text-wrapper {
    color: #ffffff;
    font-family: "Lexend-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 76px;
}

.edit-profile-page .request {
    height: 49px;
    left: 277px;
    position: absolute;
    top: 22px;
    transform: rotate(90deg);
    width: 52px;
}

.edit-profile-page .vector {
    height: 31px;
    left: 8px;
    position: absolute;
    top: 0;
    width: 28px;
}

.edit-profile-page .div {
    color: #ffffff;
    font-family: "Lexend-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 50px;
}

.edit-profile-page .profile {
    height: 49px;
    left: 374px;
    position: absolute;
    top: 22px;
    transform: rotate(90deg);
    width: 42px;
}

.edit-profile-page .img {
    height: 31px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 29px;
}

.edit-profile-page .text-wrapper-2 {
    color: #ffffff;
    font-family: "Lexend-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 33px;
    width: 40px;
}

.edit-profile-page .home {
    height: 47px;
    left: 472px;
    position: absolute;
    top: 23px;
    transform: rotate(90deg);
    width: 38px;
}

.edit-profile-page .home-icon {
    height: 32px;
    left: 2px;
    position: absolute;
    top: -1px;
    width: 30px;
}

.edit-profile-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Lexend-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 32px;
    width: 36px;
}

.edit-profile-page .donor-icon-2 {
    height: 47px;
    left: 161px;
    position: absolute;
    top: 28px;
    transform: rotate(90deg);
    width: 78px;
}

.edit-profile-page .form-section {
    height: 477px;
    left: 101px;
    position: absolute;
    top: 74px;
    width: 774px;
}

.edit-profile-page .overlap-2 {
    /* background-image: url(./rectangle-16.svg); */
    background-size: 100% 100%;
    height: 657px;
    left: -90px;
    position: relative;
    top: -86px;
    width: 954px;
}

.edit-profile-page .overlap-3 {
    height: 80px;
    left: 514px;
    position: absolute;
    top: 465px;
    width: 313px;
}

.edit-profile-page .name-hide {
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 313px;
}

.edit-profile-page .overlap-group-2 {
    background-color: #ffffff;
    height: 36px;
    position: relative;
    width: 311px;
}

.edit-profile-page .ellipse {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5.99px/6.05px;
    height: 12px;
    left: 253px;
    position: absolute;
    top: 12px;
    width: 12px;
}

.edit-profile-page .ellipse-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5.99px/6.05px;
    height: 12px;
    left: 208px;
    position: absolute;
    top: 12px;
    width: 12px;
}

.edit-profile-page .name-hide-request {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 7px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    width: 294px;
}

.edit-profile-page .submit-button {
    all: unset;
    box-sizing: border-box;
    height: 47px;
    left: 21px;
    position: absolute;
    top: 33px;
    width: 157px;
}

.edit-profile-page .overlap-4 {
    background-color: #46052d;
    border-radius: 15px;
    box-shadow: 0px 4px 90px 2px #a4a4a440;
    height: 47px;
    position: relative;
    width: 155px;
}

.edit-profile-page .text-wrapper-4 {
    color: #fffafa;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 21px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    width: 78px;
}

.edit-profile-page .check-circle {
    height: 30px;
    left: 98px;
    position: absolute;
    top: 10px;
    width: 35px;
}

.edit-profile-page .email {
    height: 76px;
    left: 518px;
    position: absolute;
    top: 375px;
    width: 298px;
}

.edit-profile-page .overlap-5 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 294px;
}

.edit-profile-page .number {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 275px;
}

.edit-profile-page .text-wrapper-5 {
    color: #c5c5c5;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    width: 281px;
}

.edit-profile-page .text-wrapper-6 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 76px;
}

.edit-profile-page .contact {
    height: 75px;
    left: 520px;
    position: absolute;
    top: 286px;
    width: 298px;
}

.edit-profile-page .overlap-6 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 25px;
    width: 294px;
}

.edit-profile-page .text-wrapper-7 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 181px;
}

.edit-profile-page .last-donation-date {
    height: 76px;
    left: 521px;
    position: absolute;
    top: 193px;
    width: 279px;
}

.edit-profile-page .div-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    height: 50px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 275px;
}

.edit-profile-page .text-wrapper-8 {
    color: #c5c5c5;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 213px;
}

.edit-profile-page .text-wrapper-9 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 193px;
}

.edit-profile-page .akaah {
    height: 76px;
    left: 520px;
    position: absolute;
    top: 99px;
    width: 298px;
}

.edit-profile-page .overlap-7 {
    height: 76px;
    position: relative;
    width: 294px;
}

.edit-profile-page .text-wrapper-10 {
    color: #c5c5c5;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 39px;
    width: 281px;
}

.edit-profile-page .text-wrapper-11 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 221px;
}

.edit-profile-page .nukh {
    height: 76px;
    left: 165px;
    position: absolute;
    top: 472px;
    width: 279px;
}

.edit-profile-page .text-wrapper-12 {
    color: #c5c5c5;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 248px;
}

.edit-profile-page .text-wrapper-13 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 195px;
}

.edit-profile-page .blood-group {
    height: 76px;
    left: 165px;
    position: absolute;
    top: 381px;
    width: 279px;
}

.edit-profile-page .text-wrapper-14 {
    color: #c5c5c5;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    width: 226px;
}

.edit-profile-page .password {
    height: 76px;
    left: 165px;
    position: absolute;
    top: 284px;
    width: 279px;
}

.edit-profile-page .overlap-8 {
    height: 76px;
    position: relative;
    width: 275px;
}

.edit-profile-page .text-wrapper-15 {
    color: #c5c5c5;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 40px;
    white-space: nowrap;
    width: 248px;
}

.edit-profile-page .text-wrapper-16 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 145px;
}

.edit-profile-page .phone-number {
    height: 76px;
    left: 165px;
    position: absolute;
    top: 193px;
    width: 279px;
}

.edit-profile-page .text-wrapper-17 {
    color: #c5c5c5;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 38px;
    white-space: nowrap;
    width: 248px;
}

.edit-profile-page .name {
    height: 80px;
    left: 167px;
    position: absolute;
    top: 96px;
    width: 279px;
}

.edit-profile-page .div-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #040000;
    height: 50px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 275px;
}

.edit-profile-page .text-wrapper-18 {
    color: #c5c5c5;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 223px;
}

.edit-profile-page .p {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 65px;
}

.edit-profile-page .span {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
}

.edit-profile-page .text-wrapper-19 {
    font-size: 24px;
}

.edit-profile-page .edit-profile-section-2 {
    height: 148px;
    left: 0;
    position: absolute;
    top: 0;
    width: 884px;
}

.edit-profile-page .overlap-group-3 {
    background: linear-gradient(
        180deg,
        rgb(70, 5, 45) 0%,
        rgb(70, 5, 45) 0.01%,
        rgb(80, 7, 50) 15.52%,
        rgb(94, 9, 51) 32.71%,
        rgb(97, 8, 52) 47.81%,
        rgb(106, 11, 55) 63.44%,
        rgb(153, 23, 71) 76.98%,
        rgb(179, 35, 70) 94.17%
    );
    height: 77px;
    left: 0;
    position: absolute;
    top: 0;
    width: 880px;
}

.edit-profile-page .text-wrapper-20 {
    color: #ffffff;
    font-family: "Lexend-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 657px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    white-space: nowrap;
    width: 150px;
}

.edit-profile-page .vector-2 {
    height: 45px;
    left: 814px;
    position: absolute;
    top: 16px;
    width: 44px;
}

.edit-profile-page .overlap-9 {
    height: 50px;
    left: 104px;
    position: absolute;
    top: 107px;
    width: 698px;
}

.edit-profile-page .line {
    height: 9px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 41px;
    width: 698px;
}

.edit-profile-page .text-wrapper-21 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 151px;
}
