/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #0c1022; */
    overflow: hidden;
}

.box {
    position: relative;
    width: 350px;
    height: 450px;
    background: rgba(0, 0, 0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 32px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 650px;
    height: 650px;
    background: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box::after {
    content: '';
    position: absolute;
    width: 650px;
    height: 650px;
    background: conic-gradient(transparent, transparent, transparent, #00cfff);
    animation: animate 4s linear infinite;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.image {
    position: absolute;
    inset: 5px;
    background-color: #0c1022;
    z-index: 1;
    border-radius: 16px;
}