/* Container styles */
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Style for each box */
.mb-3.d-flex.align-items-center {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: lightcoral !important;
}

/* Adjust box width for larger screens if needed */
@media (min-width: 1000px) {
  .mb-3.d-flex.align-items-center {
    width: calc(50% - 20px);
  }
}

/* Button styles */
.button {
  display: flex;
  height: auto;
  width: 70%;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 25px;
  background-color: red;
  border: none;
  padding: 10px 10px;
  margin-left: 30px;
  justify-content: space-around;
}

.button:focus {
  color: #fff;
  border: 2px solid #fff;
}

/* Mobile specific styling for scrollable form */
@media (max-width: 768px) {
  .formMobile {
    max-height: 80vh; /* 80% of the viewport height */
    overflow-y: auto; /* Allow vertical scrolling */
    padding-right: 10px; /* Add some padding to prevent scroll bar from overlaying content */
  }
}
