.d-flex {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  /* Add padding to the container */
  background-color: lightblue;
  /* Set background color to light blue */
  min-height: 100vh;
  /* Ensure the container covers the full viewport height */
}

/* Style for each box */
.mb-3.d-flex.align-items-center {
  width: calc(33.33% - 20px);
  /* 3 boxes per row with more spacing */
  margin-bottom: 20px;
  padding: 20px;
  /* Add more padding to each box */
  background-color: lightcoral !important;
  /* Set background color to light red with !important to override Bootstrap */
}

/* Adjust box width for larger screens if needed */
@media (min-width: 1000px) {
  .mb-3.d-flex.align-items-center {
    width: calc(25% - 20px);
    /* 4 boxes per row for larger screens with more spacing */
  }
}

.button {
  justify-content: center;
  align-items: center;
  font: white;
  height: 40px;
  width: 18%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  color: black;
}

.button:focus {
  color: #fff;
  background-color: #0c1022;
  border: 2px solid #fff;
}