.card {
    position: relative;
    max-width: 500px;
    background: rgba(0, 0, 0.75);
    max-height: 375px;
    overflow: hidden;
    padding: 5px;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: -1;
    animation: animate 4s linear infinite;
}

.card::before {
    background: conic-gradient(transparent, transparent, transparent, #00cfff);
    animation-delay: -2s;
}

.card::after {
    background: conic-gradient(transparent, transparent, transparent, #d400d4);
}

.card-content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 24px;
    border-radius: 15px;
    background: #0c1022;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.image {
    position: absolute;
    inset: 5px;
    background-color: #0c1022;
    z-index: 1;
    border-radius: 16px;
}