
* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.scrollboy {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: pink; */
    position: relative;
    overflow: hidden;
}


.card {
    position: relative;
    max-width: 500px;
    background: rgba(0, 0, 0.75);
    /* width: 350px; */
    max-height: 375px;
    overflow: auto;
    padding: 16px;
    border-radius: 15px;
    /* background-color: #fff; */
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 20px;
}



.card::before {
    content: '';
    position: absolute;
    width: 650px;
    height: 990px;
    display: flex;
    align-items: center;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: conic-gradient(transparent, transparent, transparent, #00cfff);
    animation: animate 4s linear infinite;
    border-radius: 15px;
    z-index: -1;
    animation-delay: -2s;
}

.card::after {
    content: '';
    position: absolute;
    width: 650px;
    height: 990px;
    display: flex;
    align-items: center;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    border-radius: 15px;
    z-index: -1;
}



@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image {
    position: absolute;
    inset: 5px;
    background-color: #0c1022;
    z-index: 1;
    border-radius: 16px;
}
