/* HomePage.css */

.homepage {
  margin: 20px;
  font-size: 24px;
  color: #333;
}

/************* sections  ***************/

/************** Navbar  ***************/

/* Navbar styles */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ec6e6e;
  border-radius: 25px;
  /* Adjust the circular radius */
  width: 80%;
  /* Make the navbar full width */
  margin: 0 auto;
  /* Center the navbar */
  z-index: 1000;
  /* Set a higher z-index to ensure it appears above other elements */
}


/* Night mode styles */
body.night-mode {
  background-color: #1a1a1a;
  /* Set the background color for night mode */
  color: #fff;
  /* Set the text color for night mode */
}

body.night-mode .navbar-container {
  background-color: #fff;
  /* Set the background color for night mode */
  color: #fff;
  /* Set the text color for night mode */
}


/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
}

/* Logo Styles */
.logo-text {
  font-weight: bold;
  color: #333;
  /* You can adjust the color as needed */
}

.logo img {
  width: 40px;
  /* Adjust the logo size as needed */
  margin-right: 10px;
}

/* Circular Navbar Styles */
.circular-navbar {
  display: flex;
  align-items: center;
}

.nav-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  margin-right: 10px;
}

.nav-close {
  background: none;
  cursor: pointer;
}

/* Show toggle button in mobile view */
@media (max-width: 768px) {

  .nav-toggle {
    display: block;
    font-size: 20px;
    /* Increase the font size for mobile view */
  }

  .nav-links {
    flex-direction: column;
    padding: 20px;
    background-color: white;
    /* Set the background color to white */
    position: fixed;
    /* Changed from absolute to fixed */
    width: 100%;
    /* Full width */
    height: 55%;
    /* Full screen height */
    top: 0;
    left: 0;
    /* Align to the left */
    overflow-y: auto;
    /* Enable scroll if content is larger than the screen */
    display: none;
    z-index: 1001;
    /* Ensure it's above other content */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for opening and closing the menu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Add shadow for depth */
    border-radius: 20px 20px 0 0;
    /* Round the top corners */
  }


  .nav-links.active {
    display: flex;
    transform: translateY(0);
    /* Align to the top */
    padding: 5px 10px;
    /* Decreased padding */

  }

  .nav-close-container {
    display: flex;
    justify-content: flex-end;
    /* Position close button to the right */
  }

  .nav-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    margin-right: 10px;
  }

  .nav-links li {
    margin: 10px 0;
    list-style: none;
    /* Remove bullet points */
  }

  .nav-links li a {
    text-decoration: none;
    /* Remove underline from links */
    color: #333;
    /* Set the link color */
    font-size: 1rem;
    /* Increase the font size for better readability */
  }
}

/* Desktop view */
@media (min-width: 769px) {
  .nav-close {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-links li {
    margin: 0 15px;
    list-style: none;
    /* Remove bullet points */
  }

  .nav-links li a {
    text-decoration: none;
    /* Remove underline from links */
    color: #333;
    /* Set the link color */
  }

  /* Change color on hover for desktop view */
  .nav-links li:hover {
    background-color: #f8f8f8;
    /* Light background color on hover */
  }
}

/***********   First Section with image  **************/


.donate-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.donate-text {
  flex-basis: 50%;
}

.donate-image {
  flex-basis: 50%;
}

.donate-image img {
  width: 85%;
  height: auto;
}

.donate_1 {
  background-color: #ff0000;
  /* Adjust the color to match your design */
  color: white;
  padding: 0px 0px;
  text-decoration: none;
  width: 135px;
  height: 45px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 10px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .donate-section {
    flex-direction: column;
    padding: 20px;
    padding-top: 100px;
  }

  .donate-text,
  .donate-image {
    flex-basis: 100%;
  }

  .donate-image {
    margin-top: 20px;
  }
}

/* Adjust the font size for desktop view */
@media (min-width: 769px) {
  .donate_1 {
    font-size: 16px;
    /* Adjust the font size as needed */
  }
}


/***********   MISSION  **************/


.mission {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;

}

.mission-text {
  flex-basis: 85%;
}

.donation-type-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.donation-type-image img {
  width: 100%;
  height: auto;
  max-width: 400px;
  /* Adjust max-width as needed */
  margin-bottom: 20px;
}

.donate-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.blood-type-table {
  flex-basis: 70%;
  margin-top: 10px;
}

.blood-type-table h2 {
  color: red;
  margin-bottom: 10px;
}

.blood-type-table table {
  width: 100%;
  border-collapse: collapse;
}

/************* Footer styles ****************/

/* Responsive footer styles */
.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  width: 70px;
}


.footer-top,
.footer-middle,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-newsletter,
.footer-links,
.footer-bottom-links,
.footer-social {
  display: flex;
  align-items: center;
}

.footer-newsletter h4,
.footer-column h4 {
  margin-right: 10px;
}

.footer-newsletter {
  flex-grow: 1;
}

.newsletter-input-group input[type="email"],
.newsletter-submit-button {
  padding: 10px;
  margin: 5px;
}

.newsletter-input-group input[type="email"] {
  flex-grow: 1;
  border: 1px solid #ccc;
}

.newsletter-submit-button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.footer-links {
  flex-grow: 2;
  justify-content: center;
}

.footer-column {
  margin: 0 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  cursor: pointer;
  margin-bottom: 5px;
}

.footer-cta {
  display: flex;
  align-items: center;
  padding-right: 62px;
}

.footer-bottom {
  margin-top: 20px;
  justify-content: space-evenly;
}

.footer-bottom-links span,
.footer-social a {
  margin-right: 20px;
}

/* Social icons */
.footer-social svg {
  font-size: 24px;
  /* Size of social icons */
  cursor: pointer;
}

/* Terms and Privacy Policy */
.footer-bottom-links {
  display: flex;
}

/* Mobile styles */
@media (max-width: 768px) {

  .footer-top,
  .footer-middle,
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-newsletter,
  .footer-links,
  .footer-bottom-links,
  .footer-social {
    width: 100%;
  }

  .footer-column {
    margin-bottom: 20px;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-bottom-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-bottom-links span{
    margin-right: 0;
    margin-bottom: 10px;
  }
}