.inputtype {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.inputtype input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 35px 0 5px;
    color: #fff;
}


.inputtype .form-control:focus~.form-label,
.inputtype .form-control:valid~.form-label {
    top: -15px;
}

.inputtype label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

button {
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}

button:focus {
    color: #fff;
    background-color: #0c1022;
    border: 2px solid #fff;

}

/* bootstrap */